[Unit]
Description=Iptables Setup
After=network.target

[Service]
Type=oneshot
ExecStart=__REPO_DIR__/scripts/iptables.sh
RemainAfterExit=true
User=__USER__

[Install]
WantedBy=multi-user.target